html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100;
}

ul {
display: flex;
list-style-type: none;
margin: 0;
padding-left: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav ul li img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-right: 5px;
}

li {
  border-right: 1px solid #bbb;
}

li a {
display: block;
color: white;
text-align: center;
padding: 10px 15px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #525252;
}

.form, table{
  border-radius: 50%;
  margin:20px;
}